* {margin: 0; padding: 0; box-sizing: border-box;}

html, body {
    height: 100%;
}

body {
    background: url('./images/blue-bg.jpg') center fixed no-repeat;
    background-size: cover;
}

#main-container {
    width: 100%;
}

#nav {
    padding: 0px 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 800px;
    justify-content: center;
}

.nav-link {
    color: white;
    text-shadow: .5px 1px black;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    text-decoration: none;
    transition: transform .3s;
}

.nav-link:hover {
    transform: scale(.85);
    transition: transform .2s;
}

#content-container {

}