* {margin: 0; padding: 0; box-sizing: border-box;}

html, body {
    height: 100%;
}

.bg-img {
    background: url('./images/forest-1030832_1920.jpg') center fixed no-repeat;
    background-size: cover;
    height: 100vh;
    filter: blur(1px);
}

#main-container {
    width: 100%;
}

#nav {
    padding: 10px;
    position: fixed;
    height: 50px;
    background-color: rgba(71, 72, 71, 0.404);
    top: 0;
    right: 0;
    left: 0;
}

.nav-link {
    color: rgb(126, 182, 62);
    text-shadow: .5px 1px black;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    text-decoration: none;
}

.nav-link:hover {
    color:white;
    transform: scale(.9);
    transition: transform .5s;
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #FFF;
    text-shadow: 1px .5px #333;
    font-size: 22px;
}