* {
    --light-gray: rgba(245, 245, 245, .8);
    --smoke: whitesmoke;
    --dark-gray: #333;
    --header-text: 'Amatic SC', cursive;
    --sans-text: 'Open Sans Condensed', sans-serif;
    --pink-brown: rosybrown;
}

body {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: var(--header-text);
}

#full-header {
    display: flex;
    flex-direction: column;

}

#header-img {
    width: 150px;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-a {
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin: 0 10px;
    transition: transform .4s;
}

.social-a:hover {
    transform: scale(.85);
    transition: transform .4s;
}
/* SPLASH PAGE */

#main-container {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

#splash {
    height: 100vh;
    width: 100vw;
    background-image: url('./images/splash-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splash-content {
    border: 4px solid var(--dark-gray);
    padding: 20px;
    margin-right: 5px;
    position: absolute;
    top: 40%;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--dark-gray);
    text-shadow: .5px .5px var(--light-gray);
    background-color:rgba(245, 245, 245, .4);
}

#splash-nav {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.splash-link {
    color: var(--light-gray);
    background-color: var(--pink-brown);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 1px 1px var(--light-gray);
    transition: background-color .4s, color .4s;
    margin: 5px;
    font-family: var(--header-text);
    font-size: 20px;
    text-shadow: .5px .5px var(--dark-gray);
    font-weight: bold;
}

.splash-link:hover {
    background-color: var(--light-gray);
    color: var(--pink-brown);
    transition: background-color .4s, color .4s;
    text-shadow: var(--dark-gray);
}

.splash-header {
    font-size: 40px;
}

/* PORTFOLIO PAGE */

#header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: .5px solid var(--dark-gray);
}

#main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 5px;
    flex-wrap: wrap;
    align-items:flex-end;
}

.main-link {
    text-decoration: none;
    font-size: 30px;
    font-family: var(--header-text);
    color: var(--dark-gray);
    font-weight: bolder;
    margin: 0 15px;
    transition: transform .4s;
    padding: 5px;
}

.main-link:hover {
    transform: scale(.9);
    transition: transform .4s;
    background-color: var(--pink-brown);
    padding: 5px;
    color: var(--light-gray);
    border-radius: 4px;
}

#portfolio-nav {
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio-link {
    text-decoration: none;
    font-size: 20px;
    font-family: var(--header-text);
    color: var(--dark-gray);
    font-weight: bolder;
    transition: transform .4s;
    background: none;
    border: none;
    cursor: pointer;
}

.portfolio-link:hover {
    transform: scale(.8);
    transition: transform .4s;
    background-color: rosybrown;
    border-radius: 4px;
    color: var(--light-gray);
    border: none;
}

#image-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#img-box {
    height: 80%;
    text-align: center;
}

#curr-img {
    height: 100%;
    object-fit:fill;
    max-height: 500px;
    cursor: pointer;
    transition: transform .2s;
}

#curr-img:hover {
    transform: scale(.95);
    transition: transform .25s;
}

.carousel-btn {
    width: 150px;
    color: var(--dark-gray);
    font-family: var(--sans-text);
    font-size: 30px;
    vertical-align: middle;
}

/* ABOUT ME */

#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bio {
    margin-right: 20px;
    width: 30%;
    font-family: var(--sans-text);
    font-size: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.gear-li {
    list-style: disc;
}

/* CONTACT */
#contact {
    width: 50%;
    margin: 20px auto;
}

input[type="text"] {
    padding: 5px 10px;
    color: var(--dark-gray);
    font-size: 18px;
    font-family: var(--sans-text);
    width: 100%;
}

input[type="text"]:focus {
    box-shadow: 1px 4px var(--pink-brown);
}

input[type="submit"] {
    width: 100%;
    padding: 5px 20px;
    border-radius: 3px;
    font-family: var(--sans-text);
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
    border: 1px solid #CCC;
    background-color: rosybrown;
    color: white;
    text-shadow: .5px .5px var(--dark-gray);
}

#message {
    width: 100%;
    padding: 10px;
    font-family: var(--sans-text);
}

#message:focus {
    box-shadow: 1px 4px var(--pink-brown);
}

label {
    margin-right: 20px;
    font-size: 35px;
    font-family: var(--header-text);
    display: block;
}

/* FULL SIZE IMAGE MODAL */

#full-size-modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    width: 100%;
    box-sizing: border-box;
}

#modal-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.full-size-img {
    max-height: 550px;
    object-fit: scale-down;
    margin: 0 auto;
}

#full-size-message {
    text-align: center;
    color: var(--light-gray);
    font-size: 20px;
}

/* RESPONSIVE LAYOUT */

@media screen and (max-width: 600px) {
    #image-container {
        width: 100%;
    }

    /* SPLASH PAGE */

    #splash-content {
        position: absolute;
        top: 40%;
        left: 10px;
    }

    /* PORTFOLIO */

    #image-container {
        background-color: pink;
        width: auto;
        height: auto;
        display: block;
    }

    #img-box {
        width: 100%;
    }

    #curr-img {
        width: 375px;
    }

    /* ABOUT */

    #about {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }

    #bio {
        width: 90%;
        margin: 0 auto;
    }

    #profile-pic {
        width: 100%;
        margin: 0 auto;
    }

    .profile-img {
        border-radius: 10px;
        transform: scale(.75);
    }

}